body {
    margin: 0;
    background-color: darkblue;
    font-family: 'Montserrat', sans-serif;
}

nav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 35px
}

.logo{
    font-size: 32px;
    margin-top: 20px;
}

.logo p{
    margin: 0;
}

.logo-line{
    height: 3px;
    width: 60%;
    background: cornflowerblue;
    margin: 5px 0 20px 0;
}

#menu-toggle{
    display: none;
}

.menu-btn{
    display: none;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(128, 128, 128, 0.8);
    padding: 7px;
    border-radius: 5px;

    gap: 5px;
}

.menu-btn span:nth-child(even){
    width: 25px;
    height: 3px;
    background: white;
}

.menu-btn span:nth-child(odd){
    width: 30px;
    height: 3px;
    background: white;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 25px;
}

ul li a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}

#btn-status{
    color: #17C2EC;
    font-size: 24px;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.8);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}

#btn-status:hover {
    background-color: #17C2EC;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 8px 10px rgba(0,0,0,0.4);
}

@media (max-width: 768px) {
    .menu-btn{
        display: flex;
    }
    ul{
        position: absolute;
        top: 70px;
        width: 100%;
        /*opacity: 80%;*/
        background: darkblue;
        flex-direction: column;
        display: none;
    }

    #menu-toggle:checked ~ ul{
        display: flex;
    }

    #btn-status{
        display: none;
    }
}