body {
    margin: 0;
    padding: 0;
    background-color: darkblue;
    font-family: 'Montserrat', sans-serif;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 30px 35px;
}

.logo {
    font-size: 32px;
    margin-top: 20px;
}

.logo p {
    margin: 0;
}

.logo-line {
    height: 3px;
    width: 60%;
    background: cornflowerblue;
    margin: 5px 0 20px 0;
}

#menu-toggle {
    display: none;
}

.menu-button {
    display: none;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(128, 128, 128, 0.8);
    padding: 7px;
    border-radius: 5px;

    gap: 5px;
}

.menu-button span:nth-child(even) {
    width: 25px;
    height: 3px;
    background: white;
}

.menu-button span:nth-child(odd) {
    width: 30px;
    height: 3px;
    background: white;
}

.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 25px;
}

nav input[type="radio"] {
    display: none;
}

nav label {
    position: relative;
    text-align: center;
    padding-bottom: 12px;
    color: #ccc;
    font-size: 24px;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.8);
}

nav label:hover {
    color: white;
}

nav input[type="radio"]:checked + label {
    color: white;
}

nav input[type="radio"] + label::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-radius: 50%;
    margin: 5px auto 0;
}

nav input[type="radio"]:checked + label::after {
    background-color: #17C2EC;
}

#button-status {
    color: #17C2EC;
    font-size: 24px;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.8);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#button-status:hover {
    background-color: #17C2EC;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
}

section {
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.block-get-vaccine{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 600px;
    margin: 0 35px 30px 35px;
    padding: 0;
}

.block-get-vaccine p{
    margin: 0;
    padding: 0;
}

.fs-medium{
    font-size: 24px;
}
.fs-big{
    font-size: 48px;
}

.c-blue {
    color: #17C2EC;
}
.c-white{
    color: white;
}
.bold {
    font-weight: 700;
}
.extra-bold{
    font-weight: 900;
}

.flex-row {
    display: flex;
    gap: 20px;
}

#button-get-vaccine {
    padding: 20px 25px;
    background-color: #17C2EC;
    border-radius: 20px;
    cursor: pointer;
}

#button-get-vaccine:hover {
    background-color: #17C2EC;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
}

#button-help{
    padding: 20px 25px;
    border-radius: 20px;
    border: 2px solid #17C2EC;
    cursor: pointer;
}

#button-help:hover {
    background-color: #17C2EC;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(23, 194, 236, 0.4);
}

.image-container {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 35px 35px 0;
}

.main-wrapper {
    display: grid;
    grid-template-areas:
        "left main right"
        ". bottom .";
    align-items: center;
    justify-items: center;
    grid-auto-columns: minmax(50px, auto);
    position: relative;
    gap: 0;
}

.main-img {
    grid-area: main;
    width: 600px;
    height: 600px;
    z-index: 1;
}

.left-img {
    display: block;
    grid-area: left;
    justify-self: end;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.right-img {
    display: block;
    grid-area: right;
    justify-self: start;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.bottom-block-img {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 374px;
    height: 100px;
    gap: 20px;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 20px;
    z-index: 3;
    transform: translateY(-50%);
}
 .employees-flex{
     display: flex;
     align-items: center;
     gap: 0;
 }

 .employees-flex img {
     width: 60px;
     height: 60px;
 }

 .specialists{
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 5px;
 }

 .specialists p{
     margin: 0;
 }

 .block-vaccine{
     display: flex;
     align-items: flex-start;
     justify-content: center;
     flex-wrap: wrap;
 }

@media (max-width: 768px) {
    .menu-button {
        display: flex;
        cursor: pointer;
    }

    .navbar {
        position: absolute;
        top: 70px;
        right: 35px;
        left: 35px;
        max-width: calc(100% - 35px);
        flex-direction: column;
        display: none;
    }

    #menu-toggle:checked ~ .navbar {
        display: flex;
        background-color: #222;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        padding: 15px;
        border-radius: 5px;
    }

    #button-status {
        display: none;
    }

    .fs-medium{
        font-size: 20px;
    }
    .fs-big{
        font-size: 36px;
    }

    .block-get-vaccine{
        width: 500px;
    }
}

@media (max-width: 480px) {
    .fs-medium{
        font-size: 14px;
    }
    .fs-big{
        font-size: 24px;
    }

    .block-get-vaccine{
        width: 300px;
    }
}